.message-form {
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.message-input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffd500;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}

.sendButton:hover, .sendButton:focus {
    box-shadow: 0 0 10px #ffd500;
}